/* https://tailwindcss.com/docs/using-with-preprocessors */
@import "./1/css.css";
@import "./2/css.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #23252e;
}

.c31-card {
  @apply relative w-[150px] h-[150px] 
  bg-teal-600 hover:bg-teal-500 
  rounded-lg overflow-hidden transition-all;
}

.c31-card-num {
  @apply absolute left-0 py-1 px-2 bg-orange-500 rounded-br-lg font-extrabold text-white;
}

.c31-card-name {
  @apply flex items-center justify-center text-center px-3 w-full h-full ;
}

.c31-button {
  @apply flex items-center justify-center py-2 px-4
  bg-color-miku text-white hover:bg-teal-600 active:bg-color-miku-secondary
  rounded-lg font-extrabold;
}

/* ! C31 Window */
.c31-window-container{
  @apply mx-4 md:mx-auto max-w-[650px]
  bg-color-c31-primary bg-opacity-80 backdrop-blur-lg rounded-xl drop-shadow-lg border-2 border-color-miku
  transition-all overflow-hidden;
}

.c31-window-titlebar{
  @apply flex w-full h-[30px] justify-between items-center; 
}

.c31-window-titlebar-title{
  @apply self-center text-white text-sm;
}

.c31-window-titlebar-button{
  @apply flex gap-1 mr-2;
}

.c31-window-titlebar-button-minimize{
  @apply w-3 h-3 self-center  
  bg-color-c31-secondary rounded-full;
}

.c31-window-titlebar-button-maximize{
  @apply w-3 h-3 self-center  
  bg-color-c31-secondary rounded-full;
}

.c31-window-titlebar-button-close{
  @apply self-center rounded-full w-3 h-3 bg-red-600;
}

.c31-window-content-font{
  @apply text-slate-300 font-mono text-sm;
}


/* ! Custom Scrollbar */
::-webkit-scrollbar{
  height: 15px;
  width: 15px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb{
  background-color: #14b8a6;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #10c7b2;
  border-radius: 20px;
}

::-webkit-scrollbar-track{
  background-color: #23252E;
}
